body{
  /*   background-color:beige; */
    font-family:Monospace;
    margin:0;
    scroll-behavior:smooth;
  }
  
  ul{
    align-items:center;
    display:flex;
    list-style-type:none;
    width:100%;
    gap:3rem;
    justify-content:center;
    font-size:2rem;
    position:fixed;
    top:0;
    margin:0;
    padding:1rem;
    background-color:white;
  }
  
  button{
    cursor:pointer;
    padding: auto;
  }
  button a{
    text-decoration:none;
    color:inherit;
  }
  button.active{
    font-weight:bold;
    color:orangered;
  }
  section{
    display:none;
  }
  section.active{
    font-size:3rem;
    font-family:"Roboto";
    min-height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    font-weight:bold;
  }
  .home{
    background-color:orangered;
  }
  .about{
    background-color:black;
    color:orangered;
  }
  
  .portfolio{
    background-color:aquamarine;
  }
  
  .contact{
    background-color:orangered;
  }


/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
